@using CipherPark.TriggerOrange.Web.Models
@{
    ViewBag.Title = "Trigger Red | About";
    Layout = "~/Views/Shared/AboutLayout.cshtml";
}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-6 -->
    <section class="c-layout-revo-slider c-layout-revo-slider-6" dir="ltr">
        <div class="tp-banner-container  tp-fullscreen tp-fullscreen-mobile" >
            <div class="tp-banner rev_slider" data-version="5.0">
                <ul>
                    <!--BEGIN: SLIDE #1 -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                        <img alt=""
                             src="~/Content/trigger_red_hero_6.jpg"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat">

                        <!--BEGIN: MAIN TITLE -->
                        <div class="tp-caption customin customout"
                             data-x="center"
                             data-y="center"
                             data-hoffset="0"
                             data-voffset="-70"
                             data-speed="500"
                             data-start="1000"
                             data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                             data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="600">
                            <h3 class="c-main-title c-font-40 c-font-bold c-font-uppercase c-font-white c-center">
                                Learn About Trigger Red
                            </h3>
                        </div>
                        <!--END -->
                        <!--BEGIN: SUB TITLE -->
                        <div class="tp-caption customin customout"
                             data-x="center"
                             data-y="center"
                             data-hoffset="0"
                             data-voffset="10"
                             data-speed="500"
                             data-start="1500"
                             data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                             data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="600">
                            <p class="c-font-20 c-line-height-28 c-font-white c-opacity-07 c-font-thin c-center c-sub-title">
                                Our mission is to provide a free and simple<br />
                                market insight tool for novice sellers on <br />
                                Ebay, Amazon, Shopify and similar market places.
                            </p>
                        </div>
                        <!--END -->
                        <!--BEGIN: ACTION BUTTON -->
                        <div class="tp-caption randomrotateout"
                             data-x="center"
                             data-y="center"
                             data-hoffset="0"
                             data-voffset="100"
                             data-speed="500"
                             data-start="2000"
                             data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                             data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;">
                            <a href="#mission" class="c-action-btn btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">Read More</a>
                        </div>
                        <!--END -->
                    </li>
                    <!--END -->
                </ul>
            </div>
        </div>
    </section><!-- END: LAYOUT/SLIDERS/REVO-SLIDER-6 -->

    <section id="mission">
        <!-- BEGIN: CONTENT/STEPS/STEPS-2 -->
        <div class="c-content-box c-size-lg c-bg-white">
            <div class="container">
                <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">Our Mission</h3>
                        <div class="c-line-center c-red1 c-font-red-1 c-bg-red-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">                            
                        </div>
                        <div class="col-md-8">
                            <div class="c-content-v-center c-border-thick c-border-grey-3" data-wow-delay1="2s" data-height="height" style="height: 160px; visibility: visible; animation-name: bounceInUp; opacity: 1;">
                                <div class="c-wrapper">
                                    <div class="c-body c-padding-20 c-center">
                                        <h3 class="c-font-19 c-line-height-28 c-font-uppercase c-font-grey-3 c-font-bold">
                                            To provide an effective and affordable platform
                                            where casual Ebay sellers can quickly
                                            discover profitable items to sell.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">                            
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/STEPS/STEPS-2 -->
    </section>

    <section id="core">
        <!-- BEGIN: CONTENT/MISC/WHY-CHOOSE-US-1 -->
        <div class="c-content-box c-size-lg c-bg-grey-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-title-1 c-margin-b-60">
                            <h3 class="c-center c-font-uppercase c-font-bold">
                                At the Core Of Our Product
                            </h3>
                            <div class="c-line-center c-red1 c-font-red-1 c-bg-red-1"></div>
                            <p class="c-center c-font-uppercase c-font-17">
                                Lies A Simple, Yet, Effective Approach
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; opacity: 1;">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr c-hr-first"><span class="c-content-line-icon c-icon-13 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">1. Search Ebay</div>
                            <div class="c-description c-font-17">
                                We begin each day by discovering all products listed on Ebay 7 days ago.
                                <br>&nbsp;
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft; opacity: 1;">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr"><span class="c-content-line-icon c-icon-11 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">2. Filter Product IDEAS</div>
                            <div class="c-description c-font-17">
                                We filter the discovered products for those having minimum sell rate of <br><span class="c-font-bold">one sale per day</span>.
                                <br>&nbsp;
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft; opacity: 1;">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr c-hr-last"><span class="c-content-line-icon c-icon-1 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">3. WAREHOUSE</div>
                            <div class="c-description c-font-17">
                                We store discovered products in our contextual database for easy searching.
                                <br>&nbsp;
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/MISC/WHY-CHOOSE-US-1 -->
    </section>

    <section id="guide">
        <!-- BEGIN: CONTENT/STEPS/STEPS-2 -->
        <div class="c-content-box c-size-lg c-bg-white">
            <div class="container">
                <div class="c-content-product-1 c-opt-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-content-title-1 c-margin-b-20">
                                <h3 class="c-center c-font-uppercase c-font-bold">
                                    User Guide
                                </h3>
                                <div class="c-line-center c-red1 c-font-red-1 c-bg-red-1"></div>
                                <p class="c-center c-font-uppercase c-font-17">
                                    How to use Trigger Red effectively.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row c-margin-b-20">
                                <div class="col-md-12 wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                    <h4 class="c-title c-font-20 c-font-uppercase c-font-bold c-font c-margin-b-20">Identify products in demand</h4>
                                    <p>
                                        Every day, we update our database of eBay listings of Hot Starters. Hot Starters are listings which were created 7-28 days ago and
                                        have sold at least 1 item per day, on average. We believe that Hot Starters are an accurate representation of market demand product demand - if an item listed just 7-28 days
                                        ago has a sell count, then it's probably a safe bet that there's still plenty of demand for it.
                                        Begin by searching for the listings with the most units sold.
                                    </p>
                                </div>
                            </div>
                            <div class="row c-margin-b-20">
                                <div class="col-md-12 wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                    <h4 class="c-title c-font-20 c-font-uppercase c-font-bold c-margin-b-20">Identify compatible products</h4>
                                    <p>
                                        Once you've found some good prospects in your search, you may want to refine your search. At this step, you figure out which of those items works best for you. The goal is
                                        to identify the products in demand which are sold by sellers with similar experience than you. The reasoning this this:
                                        <ul class="c-items">
                                            <li>Listings with higher search rankings stand to be the more profitable.</li>
                                            <li>
                                                eBay calculates search rankings using the seller's past performance - the higher the seller's score, the higher a listing will
                                                appear in search results.
                                            </li>
                                            <li>As a result, sellers with modest scores are at a disadvantage when listing items similar to those of more experienced sellers.</li>
                                        </ul>
                                        <br />                                        
                                        We classify experience by the eBay seller's score. Experience levels are listed below.                                        
                                        <ul class="c-items">
                                            <li><span class="c-font-bold">Casual</span> 0 - 100</li>
                                            <li><span class="c-font-bold">Beginner</span> 101 - 500</li>
                                            <li><span class="c-font-bold">Intermediate</span> 501 - 2000</li>
                                            <li><span class="c-font-bold">Advanced</span> 2001 - 5000</li>
                                            <li><span class="c-font-bold">Expert</span> 5001 and above</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="row c-margin-b-20">
                                <div class="col-md-12 wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                    <h4 class="c-title c-font-20 c-font-uppercase c-font-bold c-margin-b-20">Identify product sourcing</h4>
                                    <p>
                                        At this step, you refine your search once more to identify the products which can be sourced. That is, you identify products which can be purchased from a manufactuer, at whole sale,
                                        and resold by you on eBay (and similar market places). The following are some of example web sites where to source your product.
                                        <ul>
                                            <li><a href="https://www.alibaba.com" target="_blank">Alibaba</a></li>
                                            <li><a href="https://www.dhgate.com" target="_blank">DHGate</a></li>
                                            <li><a href="https://www.consumerelectronics.globalsources.com" target="_blank">Global Sources</a></li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/STEPS/STEPS-2 -->
    </section>

    <section id="faq">
        <!-- BEGIN: CONTENT/STATS/COUNTER-1 -->
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-product-1 c-opt-1">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">FAQ</h3>
                        <div class="c-line-center c-red1 c-font-red-1 c-bg-red-1"></div>
                    </div>
                    <div class="row c-margin-b-20">
                        <div class="col-md-6 padding-10">
                            <div class="wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">Is Trigger Red Free to Use?</h4>
                                <p>
                                    Our basic service tier will always be free. The basic service permits users to view our catalog of Hot Starters listed 7 days ago. In the near future, our premium
                                    service will users to view our entire catalog of Hot Starters listed 7-28 days ago as well as access to product sale analytics.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 padding-10">
                            <div class="wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">How often are catalogs updated?</h4>
                                <p>Catalogs are usually updated daily.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row c-margin-b-20">
                        <div class="col-md-6 padding-10">
                            <div class="wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">What is a "Hot Starter?"</h4>
                                <p>
                                    Hot Starters are eBay listings, listed fairly recently, which got off to a "hot start". We catalog recent listings (7-28 days old) which
                                    have sold reasonably well. This is how we measure the immediate demand for a product.
                                </p>
                            </div>                            
                        </div>
                        <div class="col-md-6 padding-10">
                            <div class="wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">Can I view Hot Starters in markets outside of the U.S.?</h4>
                                <p>Currently, Trigger Red only supports the U.S. market. In the near future, we'll release a version to support eBay Canada and eBay UK, will be released in the near future.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row c-margin-b-20">
                        <div class="col-md-6 padding-10">
                            <div class="wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">Is Trigger Red Just for eBay Sellers?</h4>
                                <p>
                                    Trigger Red is a tool for sellers on all platforms. However, eBay serves as our only barometer for measuring market demand.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 padding-10">
                            <div class="wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">May I suggest a new feature?</h4>
                                <p>Please do. We look forward to hearing to hearing from you!</p>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- END: CONTENT/STATS/COUNTER-1 -->
    </section>

    <section id="contact">
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-feedback-1 c-option-1">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">                               
                            <div class="c-container c-bg-grey-1 c-bg-img-bottom-right" style="background-image:url(../../assets/base/img/content/misc/feedback_box_2.png)">
                                <div class="c-content-title-1">
                                    <h3 class="c-center c-font-uppercase c-font-bold">Contact Us</h3>
                                    <div class="c-line-center c-bg-red-1 c-font-red-1"></div>                                   
                                                                               <p class="c-font-lowercase">
                                                Our helpline is always open to receive any inquiry or feedback.
                                                Please feel free to drop us an email from the form below and we will get back to you as soon as we can.
                                            </p>
                                            <br/>
                                        </div>
                                        <form action="@Url.Action("SubmitEmail")" method="post">
                                            <div class="form-group">
                                                <input name="fullName" type="text" placeholder="Your Name" class="form-control c-square c-theme input-lg">
                                            </div>
                                            <div class="form-group">
                                                <input name="email" type="text" placeholder="Your Email" class="form-control c-square c-theme input-lg">
                                            </div>                                            
                                            <div class="form-group">
                                                <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-theme c-square input-lg"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <div class="g-recaptcha" data-sitekey="6LeNGqAUAAAAALaaW6BzjSldpejy8VBrpSlEVIrr"></div>
                                            </div>
                                            <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">Submit</button>
                                        </form>                                                          
                                </div>                          
                        </div>
                        <div class="col-md-3">                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: PAGE CONTENT -->

</div>
<!-- END: PAGE CONTAINER -->

<script id="template/pagination/orangepagination.html" type="text/ng-template">
    <ul class="c-content-pagination c-square c-theme">
        <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(1, $event)"><i class="fa fa-angle-double-left"></i></a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(page - 1, $event)"><i class="fa fa-angle-left"></i></a></li>
        <li ng-repeat="page in pages track by $index" ng-class="{'c-active': page.active}"><a href="#" ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(page + 1, $event)"><i class="fa fa-angle-right"></i></a></li>
        <li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(totalPages, $event)"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
</script>

<script src="https://www.google.com/recaptcha/api.js"></script>

@section links{
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="~/Content/jango/assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jango/assets/plugins/owl-carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jango/assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jango/assets/plugins/slider-for-bootstrap/css/slider.css" rel="stylesheet" type="text/css" />
    <!-- END: BASE PLUGINS -->
}

@section scripts{
    <script src="~/Content/jango/assets/demos/default/js/scripts/pages/faq.js" type="text/javascript"></script>
}

@section ready{
    <!-- BEGIN TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
    <script>
        angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ui.bootstrap', 'ngSanitize'])
            //*** Main Controller ***
            .controller('triggerOrangeCtlr', function ($scope, $http, $window, $uibModal) {

            });
    </script>
    <!-- END TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
}

