
@{
    ViewBag.Title = "Trigger Red | Home";
    Layout = "~/Views/Shared/LandingLayout.cshtml";
}

<!-- BEGIN PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-7" dir="ltr">
            <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
                <div class="c-singup-form">
                    <h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40 c-font-uppercase">
                        See the <span class="c-font-bold">Hottest</span> Products selling on Ebay
                    </h3>

                    <h5 class="c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
                        SIGN UP & GET 60 DAYS FREE ACCESS
                    </h5>

                    <form class="form-inline" action="#">                                      
                        <button type="submit" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-btn-bold c-btn-border-1x">Try it for free</button>
                    </form>
                </div>
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <!--BEGIN: SLIDE #1 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                            <img alt=""
                                 src="~/Content/trigger_red_hero_5.jpg"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat">
                        </li>
                        <!--END -->
                        <!--BEGIN: SLIDE #2 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                            <img alt=""
                                 src="~/Content/trigger_red_hero_2.jpg"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat">
                        </li>
                        <!--END -->
                    </ul>
                </div>
            </div>
        </section>
        <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
        
        <!-- BEGIN: CONTENT/STEPS/STEPS-1 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-title-1 c-margin-b-60">
                            <h3 class="c-center c-font-uppercase c-font-bold">
                                Our Keep It Simple Strategy
                            </h3>
                            <div class="c-line-center"></div>
                            <p class="c-center c-font-uppercase c-font-17">
                                We perform these steps to discover the hottest products for you
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr c-hr-first"><span class="c-content-line-icon c-icon-13 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">1. Search Ebay</div>
                            <div class="c-description c-font-17">
                                Each day, we discover all products listed on Ebay 7, 14 and 28 days ago.
                                <br />&nbsp;
                                <br />&nbsp;
                                <br />&nbsp;
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.2s">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr"><span class="c-content-line-icon c-icon-11 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">2. Filter Products</div>
                            <div class="c-description c-font-17">
                                We filter the discovered products for those listed as <span class="c-font-bold">Buy It Now</span>. We apply second filter
                                for products having minimum sell rate of <br /><span class="c-font-bold">one sale per day</span>.
                                <br />&nbsp;
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.4s">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr c-hr-last"><span class="c-content-line-icon c-icon-1 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">3. WAREHOUSE</div>
                            <div class="c-description c-font-17">
                                We store discovered products in databases supporting contextual searching. 
                                Search our most recent discoveries online.
                                Download historical data in spread sheet format for offline processing.
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
        <!-- END: CONTENT/STEPS/STEPS-1 -->      
     
        <!-- BEGIN: CONTENT/TABS/TAB-2 -->
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-title-1 c-opt-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown; opacity: 1;">
                    <div class="c-content-title-1 c-margin-b-60">
                        <h3 class="c-center c-font-uppercase c-font-bold">
                            Featured
                        </h3>
                        <div class="c-line-center"></div>
                        <p class="c-center c-font-uppercase c-font-17">                           
                        </p>
                    </div>
                </div>
                <div class="c-content-events-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="c-content-events-1-item wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft; opacity: 1;">
                                <div class="c-content-events-1-img-container">
                                    <img class="c-content-events-1-img" src="../../assets/base/img/content/stock3/44.jpg">
                                </div>
                                <div class="c-content-events-1-content-container">
                                    <div class="c-content-events-1-cat">News</div>
                                    <h3 class="c-content-events-1-title">We are growing!</h3>
                                    <p class="c-content-events-1-desc">Lorem ipsum dolor amet adipicing et noummy eit seat dias estudiat elit dolore et isum siady et dolor amet adipicing noummy set dias set estudat eliat dolore noummy</p>
                                    <a href="https://themeforest.net/item/jango-highly-flexible-component-based-html5-template/11987314?ref=themehats" class="c-content-events-1-link">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="c-content-events-1-item wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; opacity: 1;">
                                <div class="c-content-events-1-img-container">
                                    <img class="c-content-events-1-img" src="../../assets/base/img/content/stock3/36.jpg">
                                </div>
                                <div class="c-content-events-1-content-container">
                                    <div class="c-content-events-1-cat">Announcements</div>
                                    <h3 class="c-content-events-1-title">JANGO v2.0 is here!</h3>
                                    <p class="c-content-events-1-desc">Lorem ipsum dolor amet adipicing et noummy eit seat dias estudiat elit dolore et isum siady et dolor amet adipicing noummy set dias set estudat eliat dolore noummy</p>
                                    <a href="https://themeforest.net/item/jango-highly-flexible-component-based-html5-template/11987314?ref=themehats" class="c-content-events-1-link">Purchase Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="c-content-events-1-item c-events-1-featured wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn; opacity: 1;">
                                <div class="c-content-events-1-content-container">
                                    <div class="c-content-events-1-cat">SUBSCRIBE</div>
                                    <h3 class="c-content-events-1-title">Awesome New Features!</h3>
                                    <p class="c-content-events-1-desc">Lorem ipsum dolor amet adipicing et noummy eit seat dias estudiat elit dolore et isum siady et dolor amet adipicing noummy set dias set estudat eliat dolore noummy</p>
                                    <ul class="c-content-events-1-list">
                                        <li class="c-content-events-1-list-item">
                                            <span>Ever Expanding Demos Themes</span>
                                        </li>
                                        <li class="c-content-events-1-list-item">
                                            <span>New Demos to be released consistently</span>
                                        </li>
                                        <li class="c-content-events-1-list-item">
                                            <span>Same Great Code Quality</span>
                                        </li>
                                        <li class="c-content-events-1-list-item">
                                            <span>Neverending Support</span>
                                        </li>
                                    </ul>
                                    <a href="https://themeforest.net/item/jango-highly-flexible-component-based-html5-template/11987314?ref=themehats" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-square c-font-uppercase">Subscribe Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/TABS/TAB-2 -->    
        
        <!-- BEGIN PRODUCT GRID -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Recent Listings</h3>
                    <div class="c-line-center"></div>
                    <p class="c-center c-font-uppercase c-font-17">
                        Last Updated March 30, 2019
                    </p>
                </div>
                <!-- BEGIN: CONTENT/SHOPS/SHOP-2-7 -->
                <div class="c-bs-grid-small-space">

                    <div class="row">
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/100.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Smartphone &amp; Handset</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/83.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Camera Lens</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                    <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/95.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Shoes &amp; Tie</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/98.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Smartphone &amp; Handset</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                    <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/101.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Watches</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/93.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Exclusive Watches</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/96.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Watches</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/53.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">iMac, iPad &amp; iPhone</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/93.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Watches</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/101.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Exclusive Watches</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/100.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">Watches</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop2/102.jpg);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">iMac, iPad &amp; iPhone</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        $548 &nbsp;
                                        <span class="c-font-14 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- END: CONTENT/SHOPS/SHOP-2-7 -->
                <div class="row c-margin-t-20">
                    <div class="col-xs-12 c-center">
                        <a href="#" class="btn c-btn-square c-theme-btn c-btn-uppercase c-btn-bold">EXPLORE MORE</a>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- END PRODUCT GRID -->
    
        <!-- END: PAGE CONTENT -->
    </div>
<!-- END: PAGE CONTAINER -->
<footer class="c-layout-footer c-layout-footer-1">
    <div class="c-postfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p class="c-copyright c-font-oswald c-font-14">
                        Copyright © JANGO Inc.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="c-socials">
                        <li><a href="#"><i class="icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-social-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-social-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div><!-- END: LAYOUT/FOOTERS/GO2TOP -->
@section ready {
<script>
        $(document).ready(function () {
            var slider = $('.c-layout-revo-slider .tp-banner');
            var cont = $('.c-layout-revo-slider .tp-banner-container');

            var api = slider.show().revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                responsiveLevels: [2048, 1024, 778, 480],
                gridwidth: [1170, 1024, 778, 480],
                gridheight: [620, 768, 960, 720],
                delay: 15000,
                startwidth: 1170,
                startheight: 620,

                touchenabled: "on",

                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    arrows: {
                        style: "circle",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        }
                    }
                },

                spinner: "spinner2",

                shadow: 0,
                fullWidth: "off",
                forceFullWidth: "off",
                disableProgressBar: "on",

                hideThumbsOnMobile: "on",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "on",
                hideArrowsOnMobile: "on",
                hideThumbsUnderResolution: 0
            });

            api.bind("revolution.slide.onchange", function (e, data) {

                $('.c-layout-header').removeClass('hide');

                setTimeout(function () {
                    $('.c-singup-form').fadeIn();
                }, 1500);
            });
        }); //ready
</script>

<!--
<script>
    $(document).ready(function () {
        @if (Model != null)
        {
        //***************************************************
        //TODO: ANGULARIZE THE LOGIN MODAL.
        //RIGHT NOW: MANIPULATE DOM DIRECTLY VIA JQUERY
        //***************************************************
            if (Model.UserAuthenticated) {
                <text>
        $("#login-form").modal();
                </text>
            }
            <text>
        $("#login-username").val("@Model.UserName");
        $('#login-errormessage').text("@Model.Error");
        $('#login-returnurl').val("@Model.ReturnUrl");
            </text>
        }
        });
</script> 
-->
<script>
        //Add a new method to arrays which
        Array.prototype.find = function (predicate) {
            for (i = 0; i < this.length; i++)
                if (predicate(this[i]) == true)
                    return this[i];
            return null;
        };
</script>
<script>
    angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ui.bootstrap'])
        .controller('triggerOrangeCtlr', function ($scope, $http) {
           

        });
</script>

}
