
@{
    ViewBag.Title = "Trigger Red | Home";
    Layout = "~/Views/Shared/LandingLayout.cshtml";
}

<!-- BEGIN PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-7" dir="ltr">
            <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
                <div class="c-singup-form">
                    <h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40 c-font-uppercase">
                        See the <span class="c-font-bold">Hottest</span> Products selling on Ebay
                    </h3>

                    <h5 class="c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
                        SIGN UP & GET 60 DAYS FREE ACCESS
                    </h5>

                    <form class="form-inline" action="#">                                      
                        <button type="submit" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-btn-bold c-btn-border-1x">Try it for free</button>
                    </form>
                </div>
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <!--BEGIN: SLIDE #1 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                            <img alt=""
                                 src="~/Content/trigger_red_hero_5.jpg"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat">
                        </li>
                        <!--END -->
                        <!--BEGIN: SLIDE #2 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                            <img alt=""
                                 src="~/Content/trigger_red_hero_2.jpg"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat">
                        </li>
                        <!--END -->
                    </ul>
                </div>
            </div>
        </section>
        <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
        <!-- BEGIN: CONTENT/STEPS/STEPS-1 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-title-1 c-margin-b-60">
                            <h3 class="c-center c-font-uppercase c-font-bold">
                                Our Keep It Simple Strategy
                            </h3>
                            <div class="c-line-center"></div>
                            <p class="c-center c-font-uppercase c-font-17">
                                We perform these steps to discover the hottest products for you
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr c-hr-first"><span class="c-content-line-icon c-icon-13 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">1. Search Ebay</div>
                            <div class="c-description c-font-17">
                                Each day, we discover all products listed on Ebay 7, 14 and 28 days ago.
                                <br />&nbsp;
                                <br />&nbsp;
                                <br />&nbsp;
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.2s">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr"><span class="c-content-line-icon c-icon-11 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">2. Filter Products</div>
                            <div class="c-description c-font-17">
                                We filter the discovered products for those listed as <span class="c-font-bold">Buy It Now</span>. We apply second filter
                                for products having minimum sell rate of <br /><span class="c-font-bold">one sale per day</span>.
                                <br />&nbsp;
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.4s">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr c-hr-last"><span class="c-content-line-icon c-icon-1 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">3. WAREHOUSE</div>
                            <div class="c-description c-font-17">
                                We store discovered products in databases supporting contextual searching. 
                                Search our most recent discoveries online.
                                Download historical data in spread sheet format for offline processing.
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>                  
                </div>
            </div>
        </div><!-- END: CONTENT/STEPS/STEPS-1 -->
        <!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-4 -->
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="c-content-media-2-slider" data-slider="owl">
                            <div class="c-content-label c-font-uppercase c-font-bold">Latest Projects</div>
                            <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-auto-play="4000" data-rtl="false">
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url(~/Content/jango/assets/base/img/content/stock3/17.jpg); min-height: 380px;">
                                        <div class="c-panel">
                                            <div class="c-fav">
                                                <i class="icon-heart c-font-thin"></i>
                                                <p class="c-font-thin">16</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url(~/Content/jango/assets/base/img/content/stock3/8.jpg); min-height: 380px;">
                                        <div class="c-panel">
                                            <div class="c-fav">
                                                <i class="icon-heart c-font-thin"></i>
                                                <p class="c-font-thin">24</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url(~/Content/jango/assets/base/img/content/stock3/35.jpg); min-height: 380px;">
                                        <div class="c-panel">
                                            <div class="c-fav">
                                                <i class="icon-heart c-font-thin"></i>
                                                <p class="c-font-thin">19</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="c-content-media-1" style="height: 380px;">
                            <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Our Mission</div>
                            <a href="#" class="c-title c-font-uppercase  c-font-bold c-theme-on-hover">Take the web by storm with JANGO</a>
                            <p>Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat</p>
                            <div class="c-author">
                                <div class="c-portrait" style="background-image: url(~/Content/jango/assets/base/img/content/team/team16.jpg)"></div>
                                <div class="c-name c-font-uppercase">Jack Nilson</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/MISC/LATEST-ITEMS-4 -->
        <!-- BEGIN: CONTENT/TESTIMONIALS/TESTIMONIALS-6-3 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-blog-post-card-1-slider" data-slider="owl">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">Customer Reviews</h3>
                        <div class="c-line-center c-theme-bg"></div>
                        <p class="c-center c-font-uppercase1">Lorem ipsum dolor sit amet et consectetuer adipiscing elit</p>
                    </div>
                    <div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-items="3" data-slide-speed="8000" data-rtl="false">
                        <div class="item">
                            <div class="c-content-testimonial-3 c-option-light">
                                <div class="c-content">
                                    Lorem ipsum dolor sit amet et consectetuer adipiscing elit, sed nonummy nib euismod
                                    tincid unt ut ed laoreet dolore sit amet consectetuer adipiscing.
                                </div>
                                <div class="c-person">
                                    <img src="~/Content/jango/assets/base/img/content/avatars/team1.jpg" class="img-responsive">
                                    <div class="c-person-detail c-font-uppercase">
                                        <h4 class="c-name">Mark Doe</h4>
                                        <p class="c-position c-font-bold c-theme-font">CFO, Walmart</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-testimonial-3 c-option-light">
                                <div class="c-content">
                                    Lorem ipsum dolor sit amet et consectetuer adipiscing elit, sed nonummy nib euismod
                                    tincid unt ut ed laoreet dolore sit amet consectetuer adipiscing.
                                </div>
                                <div class="c-person">
                                    <img src="~/Content/jango/assets/base/img/content/avatars/team6.jpg" class="img-responsive">
                                    <div class="c-person-detail c-font-uppercase">
                                        <h4 class="c-name">Ashley Benson</h4>
                                        <p class="c-position c-font-bold c-theme-font">CFO, Loop Inc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-testimonial-3 c-option-light">
                                <div class="c-content">
                                    Lorem ipsum dolor sit amet et consectetuer adipiscing elit, sed nonummy nib euismod
                                    tincid unt ut ed laoreet dolore sit amet consectetuer adipiscing.
                                </div>
                                <div class="c-person">
                                    <img src="~/Content/jango/assets/base/img/content/avatars/team4.jpg" class="img-responsive">
                                    <div class="c-person-detail c-font-uppercase">
                                        <h4 class="c-name">Nina Kunis</h4>
                                        <p class="c-position c-font-bold c-theme-font">CFO, ERA Tech</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-testimonial-3 c-option-light">
                                <div class="c-content">
                                    Lorem ipsum dolor sit amet et consectetuer adipiscing elit, sed nonummy nib euismod
                                    tincid unt ut ed laoreet dolore sit amet consectetuer adipiscing.
                                </div>
                                <div class="c-person">
                                    <img src="~/Content/jango/assets/base/img/content/avatars/team8.jpg" class="img-responsive">
                                    <div class="c-person-detail c-font-uppercase">
                                        <h4 class="c-name">Ashley Benson</h4>
                                        <p class="c-position c-font-bold c-theme-font">CFO, Loop Inc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-testimonial-3 c-option-light">
                                <div class="c-content">
                                    Lorem ipsum dolor sit amet et consectetuer adipiscing elit, sed nonummy nib euismod
                                    tincid unt ut ed laoreet dolore sit amet consectetuer adipiscing.
                                </div>
                                <div class="c-person">
                                    <img src="~/Content/jango/assets/base/img/content/avatars/team7.jpg" class="img-responsive">
                                    <div class="c-person-detail c-font-uppercase">
                                        <h4 class="c-name">Mark Jeep</h4>
                                        <p class="c-position c-font-bold c-theme-font">CFO, ERA Tech</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-6-3 -->
        <!-- BEGIN: CONTENT/STATS/COUNTER-4 -->
        <div class="c-content-box c-size-lg c-bg-parallax" style="background-image: url(~/Content/jango/assets/base/img/content/backgrounds/bg-40.jpg)">
            <div class="container">
                <div class="c-content-counter-1">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-white c-font-bold">We never stop improving</h3>
                        <div class="c-line-center c-bg-white"></div>
                    </div>
                    <div class="row c-margin-t-60">
                        <div class="col-md-4">
                            <div class="c-counter c-font-white c-bordered c-border-red c-font-white" data-counter="counterup">130</div>
                            <h4 class="c-title c-first c-font-white c-font-uppercase c-font-bold">Current Pages</h4>
                            <p class="c-content c-font-white c-opacity-08">..and growing. We will never stop improving and updating JANGO. Expect more.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="c-counter c-font-white c-bordered c-border-blue c-font-white" data-counter="counterup">35,500</div>
                            <h4 class="c-title c-font-white c-font-uppercase c-font-bold">Satisfied Customers</h4>
                            <p class="c-content c-font-white c-opacity-08">Our Professional and dedicated team are on stand by to server your every concern.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="c-counter c-font-white c-bordered c-border-green c-font-white" data-counter="counterup">101,865</div>
                            <h4 class="c-title c-font-white c-font-uppercase c-font-bold">Total Downloads</h4>
                            <p class="c-content c-font-white c-opacity-08">Join the community of over 101,865 users.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/STATS/COUNTER-4 -->
        <!-- BEGIN: CONTENT/TABS/TAB-2 -->
        <div class="c-content-box c-size-md c-overflow-hide c-bg-grey-1">
            <div class="c-container">
                <div class="c-content-tab-3 c-opt-1">
                    <div>
                        <ul class="nav c-theme-nav">
                            <li class="active">
                                <a class="c-font-16 c-theme-font c-font-bold" href="#c-tab3-1" data-toggle="tab">LATEST PROJECTS</a>
                            </li>
                            <li>
                                <div class="c-separator"></div>
                                <a class="c-font-16 c-theme-font c-font-bold" href="#c-tab3-2" data-toggle="tab">BLOG POSTS</a>
                            </li>
                            <li>
                                <div class="c-separator"></div>
                                <a class="c-font-16 c-theme-font c-font-bold" href="#c-tab3-3" data-toggle="tab">FORUM DISCUSSIONS</a>
                            </li>
                            <li>
                                <div class="c-separator"></div>
                                <a class="c-font-16 c-theme-font c-font-bold" href="#c-tab3-4" data-toggle="tab">USER REVIEWS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="c-tab-content">
                        <div class="container">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="c-tab3-1">
                                    <div class="col-md-5 col-sm-12">
                                        <ul class="c-items">
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-connectdevelop"></i>JANGO Framework</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore. Amet et cosectetuer sed et nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-cubes"></i>Diverse Solutions</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-thumbs-o-up"></i>Highest Quality</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore. Cosectetuer dias amet ut ed laoreet dolore.</p>
                                            </li>
                                        </ul>
                                        <button class="btn btn-lg c-theme-btn c-btn-square c-btn-bold">EXPLORE</button>
                                    </div>

                                    <div class="col-md-7 col-sm-12">
                                        <ul class="c-photos">
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/01.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/015.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/20.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/64.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/23.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/35.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="c-tab3-2">
                                    <div class="col-md-5 col-sm-12">
                                        <ul class="c-items">
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-file-code-o"></i>UX Conference 2015</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore. Lorem ipsum dolor sit amet, amet et cosectetuer sed et nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                            <li>
                                                <h4 class="c-font-20">
                                                    <i class="fa fa-globe"></i>Improving Web Standards
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore. Lorem ipsum dolor sit amet, amet et cosectetuer sed et nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-dropbox"></i>Cloud Storage</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                        </ul>
                                        <button class="btn btn-lg c-theme-btn c-btn-square c-btn-bold">EXPLORE</button>
                                    </div>

                                    <div class="col-md-7">
                                        <ul class="c-photos">
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/08.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/013.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/23.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/61.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/25.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/39.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="c-tab3-3">
                                    <div class="col-md-5 col-sm-12">
                                        <ul class="c-items">
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-gamepad"></i>Gaming Stream Trends</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                            <li>
                                                <h4 class="c-font-20">
                                                    <i class="fa fa-crosshairs"></i>How-to optimize your code
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore. Lorem ipsum dolor sit amet, amet et cosectetuer sed et nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-camera"></i>Photography Tips</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore. Lorem ipsum dolor sit amet, amet et cosectetuer sed et nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                        </ul>
                                        <button class="btn btn-lg c-theme-btn c-btn-square c-btn-bold">EXPLORE</button>
                                    </div>

                                    <div class="col-md-7">
                                        <ul class="c-photos">
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/04.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/016.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/27.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/59.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/28.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/45.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="c-tab3-4">
                                    <div class="col-md-5 col-sm-12">
                                        <ul class="c-items">
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-comment-o"></i>Quick Response</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                            <li>
                                                <h4 class="c-font-20"><i class="fa fa-file-code-o"></i>Superb Clean Coding</h4>
                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore. Lorem ipsum dolor sit amet, amet et cosectetuer sed et nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                            <li>
                                                <h4 class="c-font-20">
                                                    <i class="fa fa-dollar"></i>Value for Money
                                                </h4>

                                                <p>Lorem ipsum dolor sit amet, amet et cosectetuer sed et nonummy nib dias amet ut ed laoreet dolore. Lorem ipsum dolor sit amet, amet et cosectetuer sed et nib dias amet ut ed laoreet dolore.</p>
                                            </li>
                                        </ul>
                                        <button class="btn btn-lg c-theme-btn c-btn-square c-btn-bold">EXPLORE</button>
                                    </div>

                                    <div class="col-md-7">
                                        <ul class="c-photos">
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/02.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/012.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/19.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/37.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/29.jpg" alt="" />
                                            </li>
                                            <li class="col-md-4 col-sm-4">
                                                <img class="img-responsive" src="~/Content/jango/assets/base/img/content/stock/39.jpg" alt="" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/TABS/TAB-2 -->
        <!-- BEGIN: CONTENT/PORTFOLIO/LATEST-WORKS-1 -->
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Latest Portfolio</h3>
                    <div class="c-line-center c-theme-bg"></div>
                    <p class="c-center c-font-uppercase">Showcasing your latest designs, sketches, photographs or videos.</p>
                </div>

                <div class="cbp-panel">
                    <!-- SEE: components.js:ContentCubeLatestPortfolio -->
                    <div class="c-content-latest-works cbp cbp-l-grid-masonry-projects wow animate fadeInLeft">
                        <div class="cbp-item graphic">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Content/jango/assets/base/img/content/stock/08-long.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="c-masonry-border"></div>
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="ajax/projects/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                            <a href="~/Content/jango/assets/base/img/content/stock/08.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Dashboard<br>by Paul Flavius Nechita">zoom</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design logos wow animate fadeInLeft">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Content/jango/assets/base/img/content/stock/07.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="c-masonry-border"></div>
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="ajax/projects/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                            <a href="~/Content/jango/assets/base/img/content/stock/07.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="World Clock Widget<br>by Paul Flavius Nechita">zoom</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item graphic logos wow animate fadeInLeft" data-wow-delay="0.2s">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Content/jango/assets/base/img/content/stock/09.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="c-masonry-border"></div>
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="ajax/projects/project3.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                            <a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="To-Do Dashboard<br>by Tiberiu Neamu">view video</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item identity web-design wow animate fadeInLeft" data-wow-delay="0.4s">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Content/jango/assets/base/img/content/stock/014.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="c-masonry-border"></div>
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="ajax/projects/project4.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                            <a href="~/Content/jango/assets/base/img/content/stock/014.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="WhereTO App<br>by Tiberiu Neamu">zoom</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design graphic wow animate fadeInLeft">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Content/jango/assets/base/img/content/stock/34.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="c-masonry-border"></div>
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="ajax/projects/project5.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                            <a href="~/Content/jango/assets/base/img/content/stock/34.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Events and  More<br>by Tiberiu Neamu">zoom</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item identity web-design wow animate fadeInLeft" data-wow-delay="0.2s">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Content/jango/assets/base/img/content/stock/53.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="c-masonry-border"></div>
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="ajax/projects/project6.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                            <a href="~/Content/jango/assets/base/img/content/stock/53.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Ski * Buddy<br>by Tiberiu Neamu">zoom</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item graphic logos wow animate fadeInLeft" data-wow-delay="0.4s">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="~/Content/jango/assets/base/img/content/stock/39.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="c-masonry-border"></div>
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <a href="ajax/projects/project7.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                            <a href="~/Content/jango/assets/base/img/content/stock/39.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">zoom</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/PORTFOLIO/LATEST-WORKS-1 -->
        <!-- BEGIN: CONTENT/PRICING/PRICING-5 -->
        <div class="c-content-box c-size-md">
            <div class="container">
                <div class="row c-margin-t-10 c-margin-b-10">
                    <div class="col-md-12">
                        <div class="c-content-title-1 c-title-pricing-1">
                            <h3 class="c-font-uppercase c-font-bold">Purchase a Package</h3>
                            <div class="c-row c-try">
                                <button class="btn btn-md c-btn-square c-btn-red c-btn-uppercase c-btn-bold">TRY IT FOR FREE</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="c-content-pricing-1 c-opt-1">

                        <div class="col-md-3 c-sm-hidden">
                            <div class="c-content c-column-odd c-padding-adjustment">
                                <div class="c-row c-type c-font-20 c-align-left">Product Features</div>
                                <div class="c-row c-title c-font-17">End Products</div>
                                <div class="c-row c-title c-font-17">Standard Features</div>
                                <div class="c-row c-title c-font-17">Free Issues</div>
                                <div class="c-row c-title c-font-17">Paid Issues</div>
                                <div class="c-row c-empty">&nbsp;</div>
                                <div class="c-row c-empty">&nbsp;</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="c-content c-column-even c-padding-adjustment">
                                <div class="c-row c-type c-font-20">Starter</div>
                                <div class="c-row c-font-17">
                                    10 <span class="c-sub-title">End Products</span>
                                </div>
                                <div class="c-row">
                                    <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Standard Features</span>
                                </div>
                                <div class="c-row">
                                    <i class="fa fa-times c-font-20"></i> <span class="c-sub-title">Free Issues</span>
                                </div>
                                <div class="c-row">
                                    <i class="fa fa-times c-font-20"></i> <span class="c-sub-title">Paid Issues</span>
                                </div>
                                <div class="c-row c-price">
                                    <span class="c-dollar c-font-20">$</span> <span class="c-font-30 c-font-bold">49</span>
                                </div>
                                <div class="c-row c-purchase">
                                    <button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold">PURCHASE</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="c-content c-column-odd c-padding-adjustment">
                                <div class="c-row c-type c-font-20">Community</div>
                                <div class="c-row c-font-17">100 <span class="c-sub-title">End Products</span></div>
                                <div class="c-row">
                                    <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Standard Features</span>
                                </div>
                                <div class="c-row">
                                    <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Free Issues</span>
                                </div>
                                <div class="c-row">
                                    <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Paid Issues</span>
                                </div>
                                <div class="c-row c-price">
                                    <span class="c-dollar c-font-20">$</span> <span class="c-font-30 c-font-bold">99</span>
                                </div>
                                <div class="c-row c-purchase">
                                    <button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold">PURCHASE</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="c-content c-column-even">
                                <div class="c-row c-type c-font-20">Professional</div>
                                <div class="c-row c-font-17">Unlimited <span class="c-sub-title">End Products</span></div>
                                <div class="c-row">
                                    <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Standard Features</span>
                                </div>
                                <div class="c-row">
                                    <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Free Issues</span>
                                </div>
                                <div class="c-row">
                                    <i class="fa fa-check c-font-20"></i> <span class="c-sub-title">Paid Issues</span>
                                </div>
                                <div class="c-row c-price">
                                    <span class="c-dollar c-font-20">$</span> <span class="c-font-30 c-font-bold">149</span>
                                </div>
                                <div class="c-row c-purchase">
                                    <button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold">PURCHASE</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/PRICING/PRICING-5 -->
        <!-- END: PAGE CONTENT -->


    </div>
<!-- END: PAGE CONTAINER -->

<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div><!-- END: LAYOUT/FOOTERS/GO2TOP -->
@section ready {
<script>
        $(document).ready(function () {
            var slider = $('.c-layout-revo-slider .tp-banner');
            var cont = $('.c-layout-revo-slider .tp-banner-container');

            var api = slider.show().revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                responsiveLevels: [2048, 1024, 778, 480],
                gridwidth: [1170, 1024, 778, 480],
                gridheight: [620, 768, 960, 720],
                delay: 15000,
                startwidth: 1170,
                startheight: 620,

                touchenabled: "on",

                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    arrows: {
                        style: "circle",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        }
                    }
                },

                spinner: "spinner2",

                shadow: 0,
                fullWidth: "off",
                forceFullWidth: "off",
                disableProgressBar: "on",

                hideThumbsOnMobile: "on",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "on",
                hideArrowsOnMobile: "on",
                hideThumbsUnderResolution: 0
            });

            api.bind("revolution.slide.onchange", function (e, data) {

                $('.c-layout-header').removeClass('hide');

                setTimeout(function () {
                    $('.c-singup-form').fadeIn();
                }, 1500);
            });
        }); //ready
</script>

<!--
<script>
    $(document).ready(function () {
        @if (Model != null)
        {
        //***************************************************
        //TODO: ANGULARIZE THE LOGIN MODAL.
        //RIGHT NOW: MANIPULATE DOM DIRECTLY VIA JQUERY
        //***************************************************
            if (Model.UserAuthenticated) {
                <text>
        $("#login-form").modal();
                </text>
            }
            <text>
        $("#login-username").val("@Model.UserName");
        $('#login-errormessage').text("@Model.Error");
        $('#login-returnurl').val("@Model.ReturnUrl");
            </text>
        }
        });
</script> 
-->
<script>
        //Add a new method to arrays which
        Array.prototype.find = function (predicate) {
            for (i = 0; i < this.length; i++)
                if (predicate(this[i]) == true)
                    return this[i];
            return null;
        };
</script>
<script>
    angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ui.bootstrap'])
        .controller('triggerOrangeCtlr', function ($scope, $http) {
           

        });
</script>

}
