@using CipherPark.TriggerOrange.Web.Models

@{
    ViewBag.Title = "Release Notes";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Release Notes</h3>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <div class="c-content-box c-size-md">        
        <section id="guide">
            <!-- BEGIN: CONTENT/STEPS/STEPS-2 -->
            <div class="c-content-box c-size-lg c-bg-white">
                <div class="container">
                    <div class="c-content-product-1 c-opt-1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="c-content-title-1 c-margin-b-60">
                                    <h3 class="c-center c-font-uppercase c-font-bold">
                                        Release Note - May 23rd 2019
                                    </h3>
                                    <div class="c-line-center c-red1 c-font-red-1 c-bg-red-1"></div>
                                    <p class="c-center c-font-uppercase c-font-17">                                      
                                        Version 1.0.0.1 (BETA)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row" style="margin-bottom:30px" >
                                    <div class="col-md-12 wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                        <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">Summary</h4>
                                        <p>
                                            The Beta launch of Trigger Red has finally arrived.
                                        </p>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:30px">
                                    <div class="col-md-12 wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                        <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">Feature Changes</h4>
                                        <p>                                           
                                            <ul class="c-items">                                                
                                                <li>New Blog Section</li>
                                                <li>New Landing Page</li>
                                                <li>Revised Terms And Conditions</li>
                                                <li>New Privacy Policy</li>
                                                <li>Updated FAQa</li>
                                                <li>New Main Menu</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:30px">
                                    <div class="col-md-12 wow animate fadeInUp" style="visibility: visible; animation-name: fadeInUp; opacity: 1;">
                                        <h4 class="c-title c-font-20 c-font-uppercase c-font-bold">Bug Fixes</h4>
                                        <p>
                                        <ul class="c-items">
                                            <li>Fixed clearing of fields in Product Explorer.</li>
                                            <li>Fixed product original-listing site link.</li>
                                            <li>Fixed Product Explore Responsive UI.</li>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END: CONTENT/STEPS/STEPS-2 -->
        </section>    
    </div>
</div>
<!-- END: PAGE CONTAINER -->

<script id="template/pagination/orangepagination.html" type="text/ng-template">
    <ul class="c-content-pagination c-square c-theme">
        <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(1, $event)"><i class="fa fa-angle-double-left"></i></a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(page - 1, $event)"><i class="fa fa-angle-left"></i></a></li>
        <li ng-repeat="page in pages track by $index" ng-class="{'c-active': page.active}"><a href="#" ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(page + 1, $event)"><i class="fa fa-angle-right"></i></a></li>
        <li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(totalPages, $event)"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
</script>

@section ready{
    <!-- BEGIN TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
    <script>
        angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ui.bootstrap', 'ngSanitize'])
            //*** Main Controller ***
            .controller('triggerOrangeCtlr', function ($scope, $http, $window, $uibModal) {
                $scope.tableState = {
                    pagination: {
                        currentPage: 1,
                        pageSize: 5,
                        totalItemCount: 0
                    },
                };
                $scope.isEmpty = false;
                $scope.isLoading = false;
                $scope.isInitializing = true;
                $scope.notifications = [];

                $scope.onPageChanged = function () {
                    $window.scrollTo(0, 0);
                    $scope.getPostsPipe($scope.tableState);
                };
                $scope.resultRangeText = function () {
                    var firstItemOrdinal = ($scope.tableState.pagination.currentPage - 1) * $scope.tableState.pagination.pageSize + 1;
                    var lastItemOrdinal = Math.min($scope.tableState.pagination.currentPage * $scope.tableState.pagination.pageSize, $scope.tableState.pagination.totalItemCount);
                    return firstItemOrdinal + " - " + lastItemOrdinal;
                };
            });
    </script>
    <!-- END TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
}

