.navContainer {         
    margin-left:150px;
    margin-right:150px;
    font-family:Verdana,Geneva,sans-serif;
}

.navRightInnerContainer {
    padding-top:11px;
}
    
.layoutContainer {
    width: 100%;
    height: 100%;  
    padding-top: 1px;          
    padding-bottom: 1px;
    padding-left:300px;
    padding-right:200px;
}  

.myPanel {
    width:100%;
    margin-top:290px;   
    position:relative;      
}      

.searchSection {
    position:relative;
    width:800px;   
    padding-bottom:40px;        
}

.browseLinkSection {
           
}

.productStatementSection {
    white-space:nowrap;
    color:whitesmoke;
    font-size:24pt;
    padding-bottom:20px;
}       

.sltext {
    padding:8px;        
    border:1px solid #ffffff;          
    color:black;
    font-family: arial,sans-serif;
    font-size: 16px;
    width:500px;
}

/* Remove IE10's “clear field” X button */
.sltext input::-ms-clear {
    display: none;
}
.sltext input:focus {
    border:1px solid #4d90fe;
}           

.sltext .active {
    color:#555;
}       

.slbutton {
        padding:8px;        
        border:1px solid #ffffff;          
        color:black;
        font-family: arial,sans-serif;
        font-size: 16px;
        width:8em;
}

.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: rgba(255, 255, 255, .7);
    border: 2px solid rgba(255, 255, 255, .7);
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 16px;          
}
        
.ghost-button a:focus, a:link, a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.ghost-button:hover {                
    background-color : red;             
}