body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navContainer {         
    margin-left:150px;
    margin-right:150px;
    font-family:Verdana,Geneva,sans-serif;
}

.navRightInnerContainer {
    padding-top:11px;
}
    
/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
} */

.image-fit-container {
    height:200px;
    width:200px;
}

.image-fit-container.div {
  background-image: url(...);
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.image-fit-conainer.img {
    max-width: 100%;
    height: auto;
}

.catDropDown {
    padding:8px;        
    border:1px solid #cccccc;          
    color:black;
    font-family: arial,sans-serif;
    font-size: 16px;
    width:300px;
}

.catSearch {
        padding:8px;        
        border:1px solid #ffffff;                 
        font-family: arial,sans-serif;
        font-size: 16px;
        width:8em;
        background-color:red;
        color:whitesmoke;
}

.sortByButton {
        padding:8px;        
        border:1px solid #ffffff;                 
        font-family: arial,sans-serif;
        font-size: 14px;
        width:160px;
        background-color:white;
        border: 1px solid rgb(200, 200, 200);
        color: rgb(120, 120, 120);
}

.catDropdownLabel {
    color:#aaaaaa;
}

.kwtext {
    padding:8px;        
    border:1px solid #cccccc;          
    color:black;
    font-family: arial,sans-serif;
    font-size: 16px;
    width:500px;
}

/* Remove IE10's “clear field” X button */
.kwtext input::-ms-clear {
    display: none;
}

.kwtext input:focus {
    border:1px solid #4d90fe;
}           

.kwtext .active {
    color:#555;
}    

.aboutSection {
    padding:50px 0px;
    min-height:100px;
    border-bottom: 1px solid #cccccc
}

.aboutSection h4 {
    font-weight:bold;
}

.findSourcingNav {
    padding-top:100px;
    vertical-align:central;
}

.findSourcingNav a {
    display: inline-block;
    width: 200px;
    height: 45px;
    padding: 10px;    
    border: 2px solid rgb(200, 200, 200);
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 16px;  
    background-color : white;
    color: rgb(120, 120, 120);
}

.findSourcingNav a:focus, 
.findSourcingNav a:link,
.findSourcingNav a:visited {
    text-decoration: none;
    color: rgb(120, 120, 120);
}

.findSourcingNav a:hover {               
  background-color : red;
  border-color : red;             
  color : white;
}

.searchResultsTitle {
    font-size:12pt;
}

.quickGuide {
    position:fixed;
}