<div>
    Find the best products to sell on Ebay, Amazon and Shopify.<a href="#none" ng-click="isGuideCollapsed = !isGuideCollapsed">Guide</a>
    <div uib-collapse="isGuideCollapsed">
        <ul>
            <li>We track the most watched items on ebay to give you and idea of what's selling the most.</li>
            <li>Start by searching below for the most watched products on Ebay.</li>
            <li>Find a product you'd like to start selling.</li>
            <li><span>Source Similar Products</span> button to locate wholesalers selling similar products.</li>
        </ul>
    </div>
</div>