@using CipherPark.TriggerOrange.Web.Helpers
@using CipherPark.Ebay.Util;

@model CipherPark.TriggerOrange.Web.Models.AllCategoriesViewModel

@{
    ViewBag.Title = "AllCategories";
}

@section localcss {
   <style>                      
        .allCategoriesContainer {
            width:100%;
        }

        .categoryContainer {
            padding-bottom:50px;
            padding-right:20px;          
            vertical-align:top;
        }

        .categoryHeader {                  
        }

        .categoryItem {           
            list-style-type:none;
        }
   </style>
}
<br />
<br />
<table class="allCategoriesContainer">
@foreach (var batch in Model.CategoryManifest.Batch(3))
{    
    <tr>
    @foreach (var group in batch)
    {
        <td class="categoryContainer">
            <h4 class="categoryHeader">@group.RootCategory.Name</h4>
            <ul>
                @foreach (var entry in group.ChildCategories)
                {
                    <li class="categoryItem"><content><a href='@Url.Action("ByCategory", new { site = Model.SelectedSite, root = group.RootCategory.Id.ToString(), child = entry.Id.ToString() })'>@entry.Name</a></content></li>
                }
            </ul>
        </td>
    }
    </tr>
}
</table>

@section ready {
    <script>
        angular.module('triggerOrangeApp', ['ngAnimate', 'ui.bootstrap'])
           .controller('triggerOrangeCtlr', function ($scope, $http) {
                });          
    </script>
}
