
@{
    ViewBag.Title = "Spot Light";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Spotlight</h3>
                <h4 class="">Staff Picks for @DateTime.Today.ToString("MMMM yyyy")</h4>
            </div>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-content-box c-size-md">
        <div ng-cloak class="container">
            <div class="row">
                <!-- BEGIN MAIN CONTENT AREA -->
                <div class="col-md-12">                  
                    <!-- BEGIN POSTS -->
                    <div class="c-content-blog-post-card-1-grid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered" ng-repeat="post in posts1">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <button ng-click="onEditPost(post)" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Edit</button>                                               
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" ng-src="{{post.CoverImageUrl}}" alt="" style="height:250px;width:100%">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="~/Blog/SinglePost/{{post.Id}}" target="_blank">{{post.Title}}</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">T.R. Staff</span></a>
                                            on <span class="c-font-uppercase">{{post.DateCreated | date:'medium'}}</span>
                                        </div>
                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>{{post.ProductSellerLevel}}</li>
                                                <li>{{post.ProductPrice | currency}}</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-fire"></i><span class="c-font-bold"> {{post.ProductUnitsSold}}</span> sold first 7 days</a></div>
                                        </div>
                                        <div class="c-center"><span class="c-font-uppercase c-font-12 c-font-bold">Performance in first 4 weeks</span></div>
                                        <canvas id="bar" class="chart chart-bar" chart-data="post.chartProp.data" chart-labels="post.chartProp.labels" chart-series="post.chartProp.series" chart-options="post.chartProp.options"></canvas>
                                        <p ng-bind-html="post.Summary"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered" ng-repeat="post in posts2">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <div class="c-overlay-content">
                                                    <button ng-click="onEditPost(post)" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" ng-src="{{post.CoverImageUrl}}" alt="" style="height:250px;width:100%">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="#">{{post.Title}}</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">T.R. Staff</span></a>
                                            on <span class="c-font-uppercase">{{post.DateCreated | date:'medium'}}</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>{{post.ProductSellerLevel}}</li>
                                                <li>{{post.ProductPrice | currency}}</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-fire"></i><span class="c-font-bold"> {{post.ProductUnitsSold}}</span> sold first 7 days</a></div>
                                        </div>
                                        <p ng-bind-html="post.Summary"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered" ng-repeat="post in posts3">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <button ng-click="onEditPost(post)" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Edit</button>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" ng-src="{{post.CoverImageUrl}}" alt="" style="height:250px;width:100%">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="#">{{post.Title}}</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">T.R. Staff</span></a>
                                            on <span class="c-font-uppercase">{{post.DateCreated | date:'medium'}}</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>{{post.ProductSellerLevel}}</li>
                                                <li>{{post.ProductPrice | currency}}</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-fire"></i><span class="c-font-bold"> {{post.ProductUnitsSold}}</span> sold first 7 days</a></div>
                                        </div>
                                        <p ng-bind-html="post.Summary"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END POSTS -->
                    <!-- BEGIN BOTTOM AD -->
                    <div>
                    </div>
                    <!-- END BOTTOM AD -->
                </div>
                <div class="c-center c-margin-t20">
                    <ul uib-pagination
                        template-url="template/pagination/orangepagination.html"
                        ng-model="tableState.pagination.currentPage"
                        ng-change="onPageChanged()"
                        max-size="10"
                        total-items="tableState.pagination.totalItemCount"
                        boundary-link-numbers="true"
                        items-per-page="tableState.pagination.pageSize"
                        class="pagination-sm"
                        rotate="false"
                        ng-show="!isLoading && !isEmpty"></ul>
                </div>
            </div>
            <!-- END MAIN CONTENT AREA -->
        </div>
    </div>
</div>
<!-- END: BLOG LISTING  -->
<!-- END: PAGE CONTENT -->
<!-- END: PAGE CONTAINER -->
<!-- END: PAGE CONTAINER -->
<oib-Jango-Notification messages="notifications"></oib-Jango-Notification>

<script id="template/pagination/orangepagination.html" type="text/ng-template">
    <ul class="c-content-pagination c-square c-theme">
        <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(1, $event)"><i class="fa fa-angle-double-left"></i></a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(page - 1, $event)"><i class="fa fa-angle-left"></i></a></li>
        <li ng-repeat="page in pages track by $index" ng-class="{'c-active': page.active}"><a href="#" ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(page + 1, $event)"><i class="fa fa-angle-right"></i></a></li>
        <li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(totalPages, $event)"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
</script>

<script type="text/ng-template" id="EditPost.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Edit Post</h4>
    </div>
    <div class="modal-body">        
        <div class="row">            
            <input ng-model="title" type="text" class="form-control c-square c-theme input-lg" placeholder="Title" />
        </div>          
        <div class="c-margin-b-20"></div>
        <div class="row">
            <textarea ng-model="summary" name="Content" id="Content" class="form-control c-square c-theme input-lg" ng-show="!isPreview" placeholder="Summary" style="min-height: 250px;"></textarea>
        </div>
        <div class="c-margin-b-20"></div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" ng-click="ok()">OK</button>
        <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold" ng-click="cancel()">Cancel</button>
    </div>
</script>

@section ready{
    <!-- BEGIN TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
    <script>
            angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ui.bootstrap', 'ngSanitize', 'chart.js'])
                //*** Main Controller ***
            .controller('triggerOrangeCtlr', function ($scope, $http, $window, $uibModal) {
                $scope.tableState = {
                    pagination: {
                        currentPage: 1,
                        pageSize: 9,
                        totalItemCount: 0
                    },
                };
               $scope.keywords = null,
               $scope.sortKey = null;
               $scope.isEmpty = false;
               $scope.isLoading = false;
               $scope.isInitializing = true;
               $scope.notifications = [];
               $scope.getPostsPipe = function (tableState) {
                   if ($scope.isInitializing == true) {
                       $scope.isInitializing = false;
                   }
                   $scope.tableState = tableState;
                   var postData = {
                       "pageSize": tableState.pagination.pageSize,
                       "currentPage": tableState.pagination.currentPage,
                       "sortKey": $scope.sortKey,
                       "category": null,
                       "keywords": $scope.keywords,
                   };
                   $scope.isLoading = true;
                   $scope.isEmpty = true;
                   $http.post('@Url.Action("GetPosts", "Spotlight")', postData).success(function (result) {
                       tableState.pagination.currentPage = result.currentPage;
                       tableState.pagination.totalItemCount = result.totalItemCount;
                       $scope.posts = result.posts;
                       const columnSize = 3;
                       var rowSize = Math.ceil((Math.min($scope.tableState.pagination.pageSize, result.posts.length) / columnSize));
                       var col1Height = rowSize;
                       $scope.createChartJSProperties(result.posts);
                       $scope.posts1 = result.posts.slice(0, col1Height);
                       var col2Height = Math.ceil((result.posts.length - col1Height) / 2);
                       $scope.posts2 = result.posts.slice(col1Height, col1Height + col2Height);
                       $scope.posts3 = result.posts.slice(col1Height + col2Height);
                       $scope.isLoading = false;
                       $scope.isEmpty = result.posts.length == 0;
                       ajaxHistory.Save({
                       });
                   }).error(function (result) {
                       $scope.isLoading = false;
                       $scope.isEmpty = true;
                   });
               };
               $scope.getCategories = function () {
                   var postData = null;
                   $http.post('@Url.Action("GetCategories", "Spotlight")', postData).success(function (result) {
                       $scope.categories = result.categories;
                   });
               };
               $scope.onSearchClick = function () {
                   $window.scrollTo(0, 0);
                   $scope.tableState.pagination.currentPage = 1;
                   $scope.getPostsPipe($scope.tableState);
               };
               $scope.onPageChanged = function () {
                   $window.scrollTo(0, 0);
                   $scope.getPostsPipe($scope.tableState);
               };
               $scope.resultRangeText = function () {
                   var firstItemOrdinal = ($scope.tableState.pagination.currentPage - 1) * $scope.tableState.pagination.pageSize + 1;
                   var lastItemOrdinal = Math.min($scope.tableState.pagination.currentPage * $scope.tableState.pagination.pageSize, $scope.tableState.pagination.totalItemCount);
                   return firstItemOrdinal + " - " + lastItemOrdinal;
               };
               $scope.onEditPost = function (post) {
                   const modalInstance = $uibModal.open({
                       "templateUrl": "EditPost.html",
                       "controller": "ModalInstanceCtrl",
                       "size": "md",
                       "resolve": {
                           input: function () {
                               return {
                                   title: post.Title,
                                   summary: post.Summary,
                                   isHidden: post.IsHidden,
                               }
                           }
                       },
                   });
                   modalInstance.result.then(function (result) {
                       if (result.id == 'ok') {
                           //$scope.updateProductsListedStatus();
                           $scope.EditPost(post.Id, result.data.title, result.data.summary, result.data.isHidden);
                       }
                   });
                   return modalInstance;
               };
               $scope.EditPost = function (postId, title, summary, isHidden) {
                   var postData = {
                       postId: postId,
                       title: title,                      
                       summary: summary,
                       isHidden: isHidden,
                   };
                   $http.post('@Url.Action("EditPost", "Spotlight")', postData).success(function (result) {
                       var post = $scope.posts.find(function (e) {
                           return e.Id == postId;
                       });
                       if (post != null) {
                           post.Title = result.title;
                           post.Summary = result.summary;
                           post.IsHidden = result.isHidden;                            
                       };                          
                       $scope.notifications.push({ type: "success", data: "Spotlight Edited", timeStamp: new Date().getTime() });
                   }).error(function (result) {
                       $scope.notifications.push({ type: "error", data: "An error occured", timeStamp: new Date().getTime() });
                   });
               };
               $scope.createChartJSProperties = function (posts) {
                   for (var i = 0; i < posts.length; i++) {                       
                       var post = posts[i];
                       var stepSize = 10;
                       var maxUnitsSold = 0;
                       var max = 0;
                       for (var j = 0; j < Math.min(post.Sales.length, 4); j++)
                           if (post.Sales[j].UnitsSold > maxUnitsSold)
                               maxUnitsSold = post.Sales[j].UnitsSold;                       
                       if (maxUnitsSold <= 100) {
                           stepSize = 20;
                           max = 100
                       }               
                       else if (maxUnitsSold <= 250) {
                           stepSize = 50;
                           max = 250
                       }  
                       else if (maxUnitsSold < 500) {
                           stepSize = 100;
                           max = 500;
                       }
                       else {
                           stepSize = 200
                           max = Math.floor(maxUnitsSold / stepSize) * stepSize + stepSize;
                       }
                       post.chartProp = {
                           labels: ["Week 1" , "Week 2", "Week 3", "Week 4"],
                           data: [1],
                           options: {
                               scales: {
                                   yAxes: [{
                                       ticks: {
                                           stepSize: stepSize,
                                           suggestedMin: 0,
                                           max: max,
                                       }
                                   }]
                               },
                           },
                       };
                       post.chartProp.data[0] = [];
                       for (var j = 0; j < Math.min(post.Sales.length, 4); j++)                          
                           post.chartProp.data[0].push(post.Sales[j].UnitsSold);                       
                       post.chartProp.series = ["Units Sold"];
                   }
               };
               $scope.getPostsPipe($scope.tableState);
            }).controller("ModalInstanceCtrl", function ($scope, $uibModalInstance, $http, input) {
                $scope.title = input.title;
                $scope.summary = input.summary;
                $scope.isHidden = input.isHidden;
                $scope.ok = function () {
                    $uibModalInstance.close({ id: 'ok', data: { title: $scope.title, summary: $scope.summary, isHidden : $scope.isHidden } });
                };
                $scope.cancel = function () {
                    $uibModalInstance.dismiss({ id: 'cancel', data: null });
                };
                $scope.yes = $scope.ok;
                $scope.no = $scope.cancel;               
            });
    </script>
    <!-- END TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
}

