/* The container */
.cb-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.cb-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .cb-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .cb-checkmark {
    background-color: #5bc2ce;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cb-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .cb-checkmark:after {
    display: block;
}

.switch {
    background: #fff;
    border: 1px solid #dfdfdf;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    overflow: visible;
    width: 52px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    top: -1px;
}
    /*adding a wide width for larger switch text*/
    .switch.wide {
        width: 85px;
    }

    .switch small {
        background: #fff;
        border-radius: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: 0.3s ease-out all;
        -webkit-transition: 0.3s ease-out all;
    }

    .switch.checked {
        background: #c34343;
        /*border-color: rgb(100, 189, 99);*/
    }

        .switch.checked small {
            left: 22px;
        }
    /*wider switch text moves small further to the right*/
    .switch.wide.checked small {
        left: 57px;
    }
    /*styles for switch-text*/
    .switch .switch-text {
        font-family: inherit;
        font-size: 14px;
    }

    .switch .off {
        display: block;
        position: absolute;
        right: 10%;
        top: 22%;
        z-index: 0;
        color: #A9A9A9;
    }

    .switch .on {
        display: none;
        z-index: 0;
        color: #fff;
        position: absolute;
        top: 22%;
        left: 17%;
    }

    .switch.checked .off {
        display: none;
    }

    .switch.checked .on {
        display: block;
    }

    .switch.disabled {
        opacity: .50;
        cursor: not-allowed;
    }

    .blog-img {
        max-width: 100%;
        height: auto;       
    }
   