<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CipherPark.Ebay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CipherPark.Ebay.Properties.Settings>
            <setting name="EbayAPI_AppId" serializeAs="String">
                <value>EugeneAd-aa5b-48be-a0c7-9cb1684a80723afd1b165da1</value>
            </setting>
            <setting name="EbayAPI_Version" serializeAs="String">
                <value>825</value>
            </setting>
        </CipherPark.Ebay.Properties.Settings>
    </applicationSettings>
</configuration>