<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="OrangeEntities"
        connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VPS-FA2-FA-99D;initial catalog=Orange;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection"
        connectionString="Data Source=VPS-FA2-FA-99D;Initial Catalog=Orange;Integrated Security=True" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>    
    <add key="ReCaptchaSecretKey" value="6LeNGqAUAAAAAHTY9aVA6Dub6lYTHdrnb3xBRw6E" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>